//整个页面边距
$padding: 16rpx;
//容器边距
$containerPadding: 24rpx;
//白色
$white: #FFFFFF;
//背景色
$bg: #F7F7F7;
//遮罩
$mask: rgba(0, 0, 0, .5);
//辅助灰
$b4: #b4b4b4;
//绿色
$green: #00CF89;
$green_o1: rgba(0, 207, 137, .1);
$green_o2: rgba(0, 207, 137, .2);
$green_o4: rgba(0, 207, 137, .4);
$green_o6: rgba(0, 207, 137, .6);
$green_o8: rgba(0, 207, 137, .8);
//橙色
$orange: #F9A62C;
$orange_o1: rgba(249, 166, 44, .1);
$orange_o2: rgba(249, 166, 44, .2);
$orange_o4: rgba(249, 166, 44, .4);
$orange_o6: rgba(249, 166, 44, .6);
$orange_o8: rgba(249, 166, 44, .8);
//蓝色
$blue: #6184FA;
$blue_o1: rgba(97, 132, 250, .1);
$blue_o2: rgba(97, 132, 250, .2);
$blue_o4: rgba(97, 132, 250, .4);
$blue_o6: rgba(97, 132, 250, .6);
$blue_o8: rgba(97, 132, 250, .8);
//红色
$red: #e84848;
$red_o1: rgba(232, 72, 72, .1);
$red_o2: rgba(232, 72, 72, .2);
$red_o4: rgba(232, 72, 72, .4);
$red_o6: rgba(232, 72, 72, .6);
$red_o8: rgba(232, 72, 72, .8);
//灰色
$gray: #7b7b7b;
$gray_o1: rgba(123, 123, 123, .1);
$gray_o2: rgba(123, 123, 123, .2);
$gray_o4: rgba(123, 123, 123, .4);
$gray_o6: rgba(123, 123, 123, .6);
$gray_o8: rgba(123, 123, 123, .8);
//黑色
$black: #1A1A1A;
$black_o1: rgba(26, 26, 26, .1);
$black_o2: rgba(26, 26, 26, .2);
$black_o4: rgba(26, 26, 26, .4);
$black_o6: rgba(26, 26, 26, .6);
$black_o8: rgba(26, 26, 26, .8);